extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner GCT TRACKER
    div.Message
      span.Details I'M OUT
    div.NavButtons
      a(href="/")
          div.NavButton back to main